<div class="row animated fadeIn fast">

    <div class="col-4">
        <div class="card">
            <div class="card-body">

                <h3> Usuarios</h3>

                <div *ngIf="usuarios.length === 0" class="alert alert-info">
                    <p class="mb-0">
                        No existe usuarios con ese termino
                    </p>
                </div>

                <div class="table-responsive" *ngIf="usuarios.length > 0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Avatar</th>
                                <th>Nombre</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let usuario of usuarios" class="animated fadeIn fast">
                                <td> <img class="w75" [src]="usuario.img | imagen: 'usuarios'"> </td>
                                <td>{{ usuario.nombre }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <div class="card-body">

                <h3> Medicos </h3>

                <div *ngIf="medicos.length === 0" class="alert alert-info">
                    <p class="mb-0">
                        No existe medicos con ese termino
                    </p>
                </div>

                <div class="table-responsive" *ngIf="medicos.length > 0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Avatar</th>
                                <th>Nombre</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let medico of medicos" class="animated fadeIn fast">
                                <td><img class="w75" [src]="medico.img | imagen: 'medicos'"></td>
                                <td>
                                    <a [routerLink]="['/dashboard/medico' , medico._id]">
                                        {{ medico.nombre }}
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <div class="card-body">

                <h3> Hospitales </h3>

                <div *ngIf="hospitales.length === 0" class="alert alert-info">
                    <p class="mb-0">
                        No existe hospitales con ese termino
                    </p>
                </div>

                <div class="table-responsive" *ngIf="hospitales.length > 0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Avatar</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let hospital of hospitales" class="animated fadeIn fast">
                                <td class="text-center">
                                    <img class="w75" [src]="hospital.img | imagen: 'hospitales'">
                                </td>
                                <td>{{ hospital.nombre }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>