<div class="row animated fadeIn">
    <div class="col-xl-8">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Perfil de usuario</h4>
                <h6 class="card-subtitle">Nombre de Usuario</h6>
                <form [formGroup]="perfilForm" (ngSubmit)="actualizarPerfil()" class="form-horizontal p-t-20">
                    <div class="form-group row">
                        <label for="exampleInputuname3" class="col-sm-3 control-label">Nombre de usuario*</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-user"></i></div>
                                <input type="text" class="form-control" id="exmapleInputname" placeholder="Nombre de usuario" formControlName="nombre">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputEmail3" class="col-sm-3 control-label">Cuenta de usuario*</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-email"></i></div>
                                <input type="email" class="form-control" id="exmapleInputEmail" placeholder="Cuenta de usuario" formControlName="email" [readonly]="usuario.google">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row m-b-0">
                        <div class="offset-sm-3 col-sm-9">
                            <button type="submit" class="btn btn-success waves-effect waves-light" [disabled]="perfilForm.invalid">Guardar <i class="fa fa-save"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-xl-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Fotografia del usuario</h4>
                <div class="text-center">
                    <img *ngIf="!imagenTemp" [src]="usuario.imagenUrl" class="img-avatar">
                    <img *ngIf="imagenTemp" [src]="imagenTemp" class="img-avatar">
                </div>
                <input (change)="cambiarImagen( $event.target.files[0] )" type="file">
                <br>
                <br>
                <button (click)="subirImagen()" [disabled]="!imagenSubir" type="button" class="btn btn-block btn-success waves-effect waves-light">Actualizar Foto <i class="fa fa-save"></i></button>
            </div>
        </div>
    </div>


</div>