#themecolors .selector {
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.w150 {
    width: 150px;
}

#google-btn {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

.img-avatar {
    height: 220px;
    width: 220px;
}

.w100 {
    width: 100px;
}

.w200 {
    width: 200px;
}

.avatar {
    border: 1px solid;
    border-radius: 100%;
    width: 75px;
}